.dropdown-toggle, .dropdown-item, .nav-item {
  cursor: pointer;
}
.dropdown-item {
  height: 120%;
}
.dropdown-item:hover {
  background-color: #f1f1f1d8;
}

.btn-login:hover{
  background-color: #f1f1f1d8;
  color: brown;
}
